
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 33% 98%;
    --foreground: 200 15% 20%;

    --card: 0 0% 100%;
    --card-foreground: 200 15% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 20%;

    --primary: 196 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 10% 85%;
    --secondary-foreground: 200 15% 20%;

    --muted: 200 10% 90%;
    --muted-foreground: 200 15% 40%;

    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 10% 90%;
    --input: 200 10% 90%;
    --ring: 196 100% 47%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
}

.hero-gradient {
  background: linear-gradient(102.3deg, rgba(14,165,233,1) 5.9%, rgba(56,189,248,1) 64%, rgba(186,230,253,1) 89%);
}
