
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 0%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 0%;

    --primary: 25 100% 55%;
    --primary-foreground: 0 0% 0%;

    --secondary: 220 14% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 14% 24%;
    --muted-foreground: 220 8% 40%;

    --accent: 199 89% 57%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 14% 24%;
    --input: 220 14% 24%;
    --ring: 25 100% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-accent/70;
}

.hero-gradient {
  background: linear-gradient(102.3deg, rgba(0,178,255,0.8) 5.9%, rgba(83,203,241,0.6) 45%, rgba(157,229,255,0.4) 75%, rgba(209,242,255,0.2) 95%);
}

